@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 100%;
  scroll-behavior: smooth;
  font-family: 'Josefin Slab', 'Kiwi Maru', serif;
}

/* ▼全体の設定 */

body {
  background-color: #F8F7EE;
  line-height: 2em;
  letter-spacing: 0.8px;
  color: #393723;
}
header {
  width: 100%;
}
main {
  width: 100%;
  overflow: hidden;
}
section {
  padding: 4em 0 3em;
}
section:not(.wid, .access),.wid-cont {
  width: 60em;
  margin: 0 auto;
}
section.anke {
  background-color: #ECDCF0;
  margin-bottom: 5em;
}
div.ank {
  margin: 0 auto;
  width: 45em;
}
article:not(.siseki-C, .bungaku-C) {
  background-color: #fff;
  width: 65em;
  padding: 2em 4em;
  margin: 4em auto;
}
footer {
  background-color: #E6E403;
  padding-top: 3em;
  padding-bottom: 3em;
}

.container {
  display: flex;
}
.container:not(.point-all, .H-nav, .nav, .acc-cont) {
  align-items: flex-start;
}

h1 {
  font-size: xx-large;
}
h2 {
  height: fit-content;
  font-size: 2.5em;
  line-height: 1.8em;
  margin-bottom: 0.5em;
}
h3 {
  font-size: x-large;
  margin-bottom: 1em;
}
h4 {
  font-size: larger;
}
p:not(:last-of-type, .tips, .number) {
  margin-bottom: 1em;
}
p.C-name {
  font-size: larger;
}

.top-down {
  margin-top: 3em;
}
.bottom2em {
  margin-bottom: 2em;
}

.big-text {
  font-weight: 500;
  font-size: 2.5em;
}
.small-text {
  font-size: small;
  line-height: 1.8em;
}
.gray-text {
  color: #7B8395;
}
.under-text {
  text-decoration: underline;
  text-decoration-thickness: 0.5em; 
  text-underline-offset: -0.2em; /* 線の位置。テキストに重なるようにやや上部にする */
  text-decoration-skip-ink: none; /* 下線と文字列が重なる部分でも下線が省略されない（線が途切れない） */
}
.right-text {
  text-align: right;
}

a:not(.scroll-b .link-B, .Scolor2, .Bcolor, .under-link, .select-link, .sq-B) {
  color: #4D4450;
  transition-duration: .2s;
}
a:not(.scroll-b .link-B, .Scolor2, .Bcolor, .under-link, .select-link, .sq-B):hover {
  color: #8e8c00;
  transition-duration: .2s;
}
a.open-new {
  border-bottom: solid 1px;
}
a.open-new::after {
  display: inline-block;
  content: '';
  margin: 0 3px;
  width: 1.2em;
  height: 1.2em;
  background-image: url(../img/icon/open-new.svg);
  background-repeat: no-repeat;
  background-size: auto;
}
a.link-B {
  display: inline-block;
  text-align: right;
  border-bottom: solid 3px #E6E403;
  width: fit-content;
  margin-top: 1em;
  padding: 0 0.6em 2px 2em;
  font-size: larger;
}
a.link-B::after {
  display: inline-block;
  content: '\03e';
  padding-left: 5px;
  font-size: larger;
  transition-duration: .2s;
}
a.link-B:hover::after {
  transform: translateX(8px);
  transition-duration: .3s;
}
a.ac-B {
  text-align: center;
  font-size: larger;
  display: block;
  width: fit-content;
  width: 100%;
  padding: 1em 0;
  margin: 0 auto;
  background-color: #D3D8E3;
  border-radius: 0 0 0.5em 0.5em;
}
#ac-B {
  cursor: pointer;
}
.SP-rb {
  position: relative;
}
a.Scourse-B {
  position: relative;
  transition-duration: .3s;
}
a.Scourse-B::before, a.Bcourse-B::before {
  border: solid 2px;
  display: block;
  content: '';
  position: absolute; 
  z-index: 5;
  transition-duration: .3s;
  opacity: 0;
  width: 100%;
  top: 2em;
}
a.Scourse-B::before {
  background-color: #8e8c00;
  border-color:  #E6E403;
  height: calc(100% - 1.5em);
}
a.Bcourse-B::before {
  background-color: #4D4450;
  border-color: #CE8EE7;
  top: 0;
  height: calc(100% - 2.5em);
}
a.Scourse-B:hover:before, a.Bcourse-B:hover:before {
  opacity: 0.5;
}
a.Scourse-B::after, a.Bcourse-B::after {
  content: '';
  background-image: url(../img/top/cycling.svg);
  background-repeat: no-repeat;
  background-size: auto;
  width: 5em;
  height: 5em;
  font-size: x-large;
  display: block;
  position: absolute; 
  transform: scale(-1,1);
  top: 50%;
  left: 40%;
  z-index: 7;
  opacity: 0;
  transition-duration: .3s;
}
a.Scourse-B:hover::after, a.Bcourse-B:hover::after {
  opacity: 1;
  transition-duration: .3s;
}
a.sq-B {
  font-size: x-large;
  display: inline-block;
  border: #fff solid 2px;
  background-color: #8e8c00;
  color: #fff;
  padding: 1em 2em;
  margin-top: 1em;
  transition-duration: .3s;
  border-radius: 5px;
}
a.sq-B:hover {
  background-color: #bbb800;
  transition-duration: .3s;
}

.Scolor {
  color: #8e8c00;
}
.Bcolor {
  color: #CE8EE7;
}

.icon::before {
  content: '';
  display: block;
  width: 1.5em;
  height: 1.5em;
  background-size: 1.5em;
  background-repeat: no-repeat;
  position: relative;
  top: 1.5em;
  right: 2em;
}
.icon {
  position: relative;
  top: -1em;
  left: 1em;
  align-content: center;
}

/* ▼詳細設定 */

header .container {
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: #E6E403;
}
.H-nav {
  width: 100%;
  position: fixed;
  z-index: 100;
}
a.under-link, a.select-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a.under-link::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
a.under-link:hover::after {
  transform: scale(1, 1);
}
a.select-link::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
}
img.logo {
  width: 5em;
  height: auto;
}
header .nav li:not(:first-child) {
  margin-left: 2em;
}

div.mainV {
  width: 100%;
  margin: 0;
}
.mainV img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
}
.overlap {
  width: 40%;
  height: auto;
  position: absolute;
  top: 48vh;
  left: 5vw;
}
a.scroll-b {
  z-index: 2;
  display: block;
  margin: 0;
  position: absolute;
  width: 5em;
  top: 85vh;
  left: 70vw;
}
a.scroll-b p {
  font-size: large;
  margin: 0 0 0.5em 0.2em ;
  width: 5em;
  color: #fff;
}
.cyclingman {
  width: 3em;
  height: auto;
}

a.totop {
  position: fixed;
  z-index: 15;
  top: 80vh;
  right: 3em;
}
.totop img {
  width: 6em;
  height: auto;
}
section.concept {
  background-color: #ECDCF0;
}
section.concept::before {
  top: calc(100vh - 8em);
  right: 0;
  position: absolute;
  width: 50em;
  height: 30em;
  display: block;
  content: '';
  background-image: url(../img/top/slope.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.concept .container {
  width: 60em;
  margin: 3em auto -5em;
}
.concept h2 span {
  background-color: #fff;
}

.CC1::before,.C2::before, .C3::before,
section.C-map::before, section.concept::after,
.C3::after, .C4::before, .C4::after,
.T-guide .wid-cont::before
{
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  content: '';
  position: absolute;
}
.CC1::before {
  z-index: 1;
  top: 100vh;
  right: 50%;
  background-image: url(../img/top/Rdotline.svg);
  width: 50%;
  height: 50%;
}
.C1, .C3, .C4 {
  position: relative;
  z-index: 5;
}
.C1 {
  width: auto;
  margin-right: 3em;
}
.C1 h2 {
  color: #7B8395;
  width: fit-content;
  font-size: x-large;
}

.right {
  top: -10em;
  position: relative;
}

.C2 {
  position: relative;
}
/* .C2::before {
  z-index: 6;
  background-image: url(../img/top/shrine&tree.svg);
  width: 18em;
  height: 10em;
  right: -7em;
  top: 24em;
} */
.C2 img {
  width: 30em;
  height: 30em;
  object-fit: cover;
}
.C2 p {
  position: relative;
  top: -10em;
}
.C2 p span {
  margin-bottom: 5px;
  width: fit-content;
  display: block;
  background-color: #ECDCF0;
}
.C3::before {
  background-image: url(../img/top/3tree.svg);
  width: 8em;
  height: 8em;
  top: 17em;
  left: -12em;
}
.C3 {
  position: relative;
  top: -10em;
}
.C3 img {
  width: auto;
  height: 30em;
  margin-right: 7em;
}
.C3 p {
  margin-top: 25%;
}
.C3::after {
  background-image: url(../img/top/musiums.svg);
  width: 15em;
  height: 15em;
  top: 25em;
  left: -5vw;
}

/* .C4::before {
  z-index: 0;
  background-image: url(../img/top/Ldotline.svg);
  width: 80em;
  height: 30em;
  top: 18em;
  left: -13em;
} */
.C4 {
  position: relative;
  top: -12em;
}
.C4 img {
  z-index: 6;
  width: 40em;
  height: auto;
  margin-left: 3em;
}
.C4 p {
  margin-top: 10em;
}
.C4 span {
  color: #8e8c00;
}
.C4::after {
  z-index: 8;
  background-image: url(../img/top/houses.svg);
  width: 30em;
  height: 15em;
  top: 36em;
  right: -8em;
}
section.concept::after {
  z-index: 0;
  position: absolute;
  background-image: url(../img/top/mt-high-PC.svg);
  background-size: 100%;
  width: 100%;
  height: 50em;
  top: 170vh;
}

section.C-map::before {
  z-index: 1;
  top: -27em;
  left: -14em;
  position: absolute;
  width: 130%;
  height: 30em;
  background-image: url(../img/top/mt-low.svg);
  background-size: 100%;
}

section.C-map {
  height: auto;
  position: relative;
}
.C-map h2 {
  color: #bbb800;
}
.C-map .container {
  height: auto;
  justify-content: space-between;
}
.siseki-B {
  width: 48%;
}
.siseki-B img, .siseki-B img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.siseki-B p.C-name {
  margin-top: 1em;
}
.bungaku-B {
  width: 48%;
}
.bungaku-B img {
  width: 100%;
}
.bungaku-B p.C-name {
  margin-top: 0.5em;
}

section.T-guide {
  background-color: #EEED87;
}
.T-guide .wid-cont::before {
  background-image: url(../img/top/topQ.svg);
  opacity: 0.5;
  width: 20em;
  height: 20em;
  z-index: 1;
  left: 0;
}
.T-guide .wid-cont h2, .T-guide .explain {
  position: relative;
  z-index: 3;
}
.T-guide h2 {
  color: #7B8395;
}
.T-guide .explain {
  width: 100%;
  margin-right: 3em;
}
.T-guide .link-B {
  border-color: #F8F7EE;
  width: 10em;
  margin-right: 3em;
}
.Tg-img {
  z-index: 5;
  position: relative;
  display: flex;
  width: 70vw;
  right: 15em;
  align-items: flex-end;
}
.Tg-img::before, .Tg-img::after {
  display: inline-block;
  position: absolute;
  content: '';
  background-size: 100%;
  background-repeat: no-repeat;
}
.Tg-img::before {
  background-image: url(../img/top/aseri-hukidasi.svg);
  width: 5em;
  height: 5em;
  top: 5em;
  left: 15em;
}
.Tg-img::after {
  background-image: url(../img/top/smoke.svg);
  width: 5em;
  height: 100%;
  top: 5em;
  left: 45vw;
  opacity: 0.8;
}
.Tg-img img {
  width: 100%;
}


section.access {
  position: relative;
  height: 100%;
}
.acc-cont {
  height: 100%;
}
.access h2 {
  color: #8e8c00;
}
.acc-map  {
  position: absolute;
  left: -40vw;
  z-index: 5;
}
.acc-map img {
  height: 40em;
  width: auto;
  margin: -11em 4em 5em 5em;
}
.access .right-side {
  width: 50%;
  height: 100%;
  position: relative;
  right: -38vw;
}
p.hukidasi {
  height: auto;
  width: fit-content;
  margin-top: 5em;
  padding: 0.8em 2em 1.1em;
  background-image: url(../img/top/access-hukidasi.svg);
  background-size: auto;
  background-repeat: no-repeat;
}
.SCstation {
  position: relative;
  width: 50em;
  left: -7em;
  z-index: 1;
  padding: 1em 2em 1em 8em;
  background-image: url(../img/top/access-arrow.svg);
  background-repeat: no-repeat;
}
.SCstation span {
  text-decoration-color: #fff;
}
.acc-ex {
  border: solid 1px;
  background-color: #fff;
  padding: 2em 3em;
  margin-bottom: 2em;
}
.acc-ex .under-text {
  text-decoration-color: #E6E403;
}
.sinkansen-col {
  border-color: #CE8EE7;
  margin-top: 15em;
}
.train-col {
  border-color: #7B8395;
}
.car-col {
  border-color: #D3A76D;
}
p.vehicle {
  line-height: 0;
  font-size: larger;
  position: relative;
  top: -0.8em;
  left: 2em;
}
p.vehicle::before {
  position: relative;
  left: -3em;
  top: 0.7em;
  background-repeat: no-repeat;
  height: 2em;
  width: 2em;
  display: block;
  content: '';
}
.sinkansen-col p.vehicle::before  {
  top: 0.8em;
  background-image: url(../img/icon/sinkansen.svg);
  background-size: 2em;
  background-position: 50%;
}
.train-col p.vehicle::before  {
  background-image: url(../img/icon/train.svg);
  background-size: 2em;
  background-position: left top;
}
.car-col p.vehicle::before  {
  background-image: url(../img/icon/car.svg);
  background-size: 2.5em;
  background-position: left top;
  width: 2.5em;
}
.acc-ex li {
  list-style-type: '\025cf';
  padding-left: 4px;
}
.sinkansen-col li::marker {
  color: #DDC5E7;
}
.sinkansen-col ul {
  padding: 1em 3em 1em 0;
  position: relative;
  background-image: url(../img/top/sinkansen-arrow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 90%;
  width: 400px;
}
.car-col ul {
  padding: 1em 4em 1em 0;
  position: relative;
  background-image: url(../img/top/car-arrow.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 90%;
  width: auto;
}
.acc-R {
  margin-top: 1em;
}
p.arrow::after {
  height: 1em;
  width: 100%;
  display: block;
  text-align: center;
  content: '\025bc';
  color: #D3A76D;
  font-size: large;
}
.access iframe {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 55em;
  width: 45vw;
  height: 450px;
}

.car-col li::marker {
  color: #D3A76D;
}

footer .container {
  width: fit-content;
  margin: 0 auto;
}
footer .container ul {
  margin-left: 3em;
  width: 10em;
}

/* ▼ガイドページ */
.G-select {
  height: 100%;
  width: 100%;
  padding-top: 8em;
}
.G-select .wid-cont::before {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  content: '';
  z-index: 0;
  top: 0;
  right: 0;
  background: linear-gradient(to right, #7B8395 50%, rgba(0,0,0,0) 60%);
}
.G-select .wid-cont > * {
  position: relative;
  z-index: 5;
}
.G-select .wid-cont::after {
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  content: '';
  position: absolute;
  background-image: url(../img/guide/bicycle.jpg);
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
}
.G-select .explain {
  color: #fff;
}
.G-select h2 {
  color: #E6E403;
}
.index {
  margin-top: 1em;
}
.index p {
  position: relative;
  z-index: 3;
  top: 1em;
  left: 1em;
  width: fit-content;
  padding: 2px 1em;
  background-color: #E6E403;
}
.index div {
  width: fit-content;
  padding: 2em 4em;
  background-color: #fff;
}
.index p {
  font-weight: bolder;
}
.index li::before {
  content: '\025bc';
}
.index li {
  font-size: larger;
  line-height: 2.5em;
}

article.attention {
  margin-top: 10em;
  position: relative;
  z-index: 5;
}
div.att2 {
  margin-top: 1em;
  justify-content: flex-end;
}
.att3, .att4, .att5 {
  margin-bottom: 3em;
}
.att1 img, .att2 img, .att3 img, .att4 img, .att5 img {
  width: 45%;
  height: auto;
  margin-left: 2em;
}
p.exclamation {
  padding-left: 1em;
  position: relative;
  top: -3em;
}
p.exclamation:before {
  position: relative;
  top: 1.5em;
  left: -1em;
  display: block;
  content: '！';
  font-size: larger;
  font-weight: bold;
  color: #8e8c00;
}
.bear-G p.title {
  padding: 0 2em 0.3em 1em;
  position: relative;
  left: 1em;
  top: 1em;
  width: fit-content;
  font-size: larger;
  background-color: #fff;
  border: solid 1px #DDC5E7;
}
.bear-G p.title::before {
  content: '';
  display: inline-block;
  width: 3em;
  height: 2em;
  background-image: url(../img/guide/Bguide.svg);
  background-repeat: no-repeat;
}
.bear-G p:not(.title) {
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 0;
  margin-top: 1em;
}
.bear-G img {
  width: 10vw;
  height: auto;
  margin-right: 2em;
}
.bear-G div:not(.imgs) {
  padding: 2em 3em ;
  background-color: #DDC5E7;
  border-radius: 2%;
}
.bear-G div.imgs {
  margin-bottom: 2em;
}
.bear-G ul {
  margin-top: 0.5em;
  margin-left: 1em;
}
.bear-G li {
  list-style-type: '\025cf';
  padding-left: 5px;
}
.bear-G li::marker {
  color: #E6E403;
}
div.bear-G {
  margin-bottom: 2em;
}
.attention figure {
  margin-right: 2em;
}
figure img {
  width: 100%;
}

img.Bicon {
  width: auto;
  height: 4em;
}

.prepare figure {
  width: 60%;
  height: auto;
  margin-left: 2em;
}
div.prp-C {
  border-bottom: dashed #D3D8E3;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.white-back {
  background-color: #F8F7EE;
  padding: 1em 2em;
  margin-bottom: 1em;
  border-radius: 0.5em;
}
.rental-ex {
  border-radius: 1em;
  margin: 2em 0;
  padding: 0 4em 1em;
  background-color: #EEED87;
}
.rental-ex .title {
  position: relative;
  z-index: 3;
  top: -0.5em;
  font-size: x-large;
}
.rental-ex dl {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.rental-ex dl.ac-child {
  margin-top: 1em;
}
.rental-ex dt {
  padding-top: 1em;
  width: 20%;
  height: auto;
}
.rental-ex dd {
  width: 80%;
}
.rental-ex dd:not(:last-of-type)::after {
  border-bottom: #bbb800 2px dotted;
  margin: 0 auto 0.8em;
    display: block;
  content: '';
  width: 51em;
  left: -11em;
  position: relative;
}
.rental-ex ul {
  margin-bottom: 1em;
}
p.R1 {
  margin-left: 1em;
  margin-right: 0;
  width: fit-content;
  display: inline-block;
}
p.L1 {
  display: inline-block;
  margin-right: 0;
  width: 10em;
}
.indent1 {
  margin-left: 2em;
}
.how-use .container {
  margin-bottom: 1em;
}
.how-use img {
  width: 40%;
}
p.how-N::before {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
}

.rental-ex li {
  list-style-type: '\025cf';
  padding-left: 5px;
}
.rental-ex li::marker {
  color: #7B8395;
}
.rental-ex .container {
  align-items: flex-start;
}
p.circleN {
  display: inline-block;
  width: 1em;
  margin-right: 5px;
}


div.parking {
  margin-bottom: 2em;
}
.parking img {
  width: 40%;
  height: auto;
  margin-left: 1em;
}
dl.vehicle-ex {
  margin-bottom: 2em;
  margin-top: 2em;
}
.vehicle-ex dt {
  font-size: larger;
}
div.train-box {
  padding-right: 5em;
}
.train {
  text-decoration-color: #D3D8E3;
}
.train::before {
  position: relative;
  top: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
  content: '';
  width: 3em;
  height: 2.5em;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(../img/icon/train.svg);
}
.sinkansen,.eastA {
  text-decoration-color: #ECDCF0;
}
.sinkansen::before {
  position: relative;
  top: 0.5em;
  margin-right: 0.5em;
  display: inline-block;
  content: '';
  width: 3em;
  height: 2.5em;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(../img/icon/sinkansen.svg);
}
div.local-bus {
  width: 60%;
  padding-right: 5em;
}
div.high-bus {
  width: 50%;
}
.bus, .centA{
  text-decoration-color: #E8E7AE;
}
.bus::before {
  position: relative;
  top: 0.8em;
  margin-right: 0.5em;
  display: inline-block;
  content: '';
  width: 3em;
  height: 2.5em;
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-image: url(../img/icon/bus.svg);
}
.bus-li dt::before {
  content: '\025a0';
  color: #E8E7AE;
}
.bus-li dd {
  padding-left: 1em;
}
div.locker {
  margin-top: 2em;
}
.locker img {
  width: 50%;
  height: auto;
  margin-left: 2em;
}

.shops img {
  margin-bottom: 2em;
}
.shopB {
  position: absolute;
  z-index: 1;
}
.shopB a {
  height: 2em;
  display: inline-block;
  position: relative;
}
.shopB a:hover {
  opacity: 0.5;
}
.shopB .sA {
  top: 11.5em;
  left: 26.5em;
}
.shopB .sB {
  top: 2.3em;
  left: 29em;
}
.shopB .sC {
  top: 5em;
  left: 22em;
}
.shopB .sD {
  top: 28em;
  left: 26em;
}
.Scolor2 {
  color: #bbb800;
}
.shops-about {
  margin-bottom: 2em;
}
.sA:not(.shopB)::before {
  background-image: url(../img/shops/shopA.svg);
}
.sB:not(.shopB)::before {
  background-image: url(../img/shops/shopB.svg);
}
.sC:not(.shopB)::before {
  background-image: url(../img/shops/shopC.svg);
}
.sD:not(.shopB)::before {
  background-image: url(../img/shops/shopD.svg);
}
.shops .number::before {
  position: relative;
  top: 3px;
  margin-right: 5px;
  display: inline-block;
  content: '';
  width: 1.2em;
  height: 1.2em;
  background-size: 1.2em;
  background-repeat: no-repeat;
  background-position: center;
}
.shops .number {
  font-size: 1.3em;
  margin-bottom: 0.5em;
}
.shops-about p {
  height: fit-content;
  margin-bottom: 0;
}
.shops-about img {
  width: 50%;
  height: auto;
  margin-right: 3em;
}
p.addrC::before {
  background-image: url(../img/icon/C-spot.svg);
}
p.timeC::before {
  background-image: url(../img/icon/C-clock.svg);
}
p.restC::before {
  background-image: url(../img/icon/C-calendar.svg);
}
p.addrE::before {
  background-image: url(../img/icon/E-spot.svg);
  background-size: auto;
  background-position: 50%;
}
p.timeE::before {
  background-image: url(../img/icon/E-clock.svg);
}
p.restE::before {
  background-image: url(../img/icon/E-calendar.svg);
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
  section:not(.wid, .access, .anke), .wid-cont {
    width: 45em;
  }
  section.anke {
    width: 100%;
    margin: 0 0 5em;
  }
  div.ank {
    margin: 0 0 5em;
    width: 100vw;
    padding: 0 2em;
  }
  article:not(.siseki-C, .bungaku-C) {
    width: 45em;
  }
  a.totop {
    right: 1em;
  }
  .overlap {
    width: 60%;
    top: 60vh;
  }
  a.scroll-b {
    top: 90%;
  }
  .CC1, .C3, .C4 {
    padding: 0 1em;
  }
  section.concept::before {
    top: 90vh;
  }
  .concept .container {
    width: 45em;
    margin: 3em auto -5em;
  }
  .C2 img {
    width: 100%;
  }
  .C3 img {
    margin-top: 3em;
  }
  .C3::after {
    top: 80%;
  }
  .C4 img {
    width: 60%;
  }
  .C4::after {
    top: 120%;
    right: -2em;
  }
  section.concept::after {
    top: 145vh;
  }
  section.C-map::before {
    top: -20em;
  }
  .acc-map img {
    width: 100%;
    margin: -11em 0 0;
  }
  .SCstation {
    left: -5em;
  }
  .acc-sp {
    margin: 0 auto;
    padding-left: 2em;
    left: -20em;
    width: 45em;
    display: flex;
    align-items: flex-start;
    position: absolute;
  }
  .train-col {
    width: 20em;
  }
  .car-col {
    margin-left: 2em;
  }
  .sinkansen-col ul {
    background-size: 50% 90%;
    background-position: right;
    width: 50em;
  }
  .access iframe {
    position: relative;
    top: 30em;
    width: 100%;
    margin: 0 0 30em;
  }
  .G-select .wid-cont::before {
    background: linear-gradient(to right, #7B8395 60%, rgba(0,0,0,0) 80%);
  }
  .G-select .wid-cont::before {
    height: 65%;
  }
  .G-select .wid-cont::after {
    height: 65%
  }
  .rental-ex dd:not(:last-of-type)::after {
    width: 31em;
    left: -7em;
  }
  .shopB .sA {
    top: 7em;
    left: 16.5em;
  }
  .shopB .sB {
    top: 1em;
    left: 17em;
  }
  .shopB .sC {
    top: 3em;
    left: 12.3em;
  }
  .shopB .sD {
    top: 17em;
    left: 14.5em;
  }
  }

@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  .H-nav {
    display: inherit;
    font-size: 90%;
  }
  .H-nav .nav {
    height: 45px;
    padding-top: 5px;
  }
  header .nav li:not(:first-child) {
    margin-left: 0;
  }
  .nav a {
    width: fit-content;
  }
  .logo h1 {
    width: fit-content;
    margin: 20px auto 0;
  }
  a.totop {
    top: 88vh;
  }
  .totop img {
    width: 4em;
    height: auto;
  }
  div.mainV {
    height: 97vh;
  }
  div.mainV img {
    height: 97vh;
  }
  .overlap {
    width: 90%;
  }
  section.concept {
    height: auto;
    padding-bottom: 30vh;
  }
  section.concept::before {
    width: 100%;
    top: 90vh;
  }
  section.concept::after {
    top: calc(315vw + 20vh );
    width: 100%;
    height: 30em;
    right: 0;
    background-size: 140%;
    background-position: right;
  }
  a.scroll-b {
    left: 48vw;
    top: 86vh;
  }
  .CC1, .C3 {
    display: inherit;
  }
  div.C1 {
    width: 90vw;
    margin-bottom: 2em;
  }
  .C2 img {
    width: 90vw;
    height: 300px;
  }
  .C3, .C4 {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
    top: 0;
  }
  .C3 p, .C4 p {
    margin-top: 3em;
    width: 90vw;
    height: auto;
  }
  .C3 img {
    width: 90vw;
    height: auto;
  }
  .C3::after {
    top: 90%;
    width: 10em;
    height: 10em;
  }
  .C4 {
    position: relative;
    top: 5em;
    padding: 0;
  }
  .C4 img {
    margin: 0;
    width: 100vw;
    position: relative;
  }
  .C4 p {
    width: 100vw;
    padding: 0 1em;
  }
  .C4::after {
    top: 105%;
    left: 40vw;
    width: 15em;
    height: 10em;
  }
  section.C-map::before {
    height: 10em;
    left: 0;
    top: -10em;
  }
  section.C-map {
    padding: 6em 1em 2em;
    width: 100vw;
  }
  .C-map .container {
    display: inherit;
  }
  .siseki-B {
    margin-bottom: 2em;
    width: fit-content;
  }
  .SP-rb {
    display: flex;
    width: 91vw;
    flex-direction: column-reverse;
  }
  section.T-guide {
    padding: 4em 1em;
  }
  .T-guide .wid-cont::before {
    z-index: 0;
    left: -2em;
  }
  .T-guide .container {
    display: inherit;
  }
  .Tg-img {
    margin-top: 2em;
    display: flex;
    flex-direction: column-reverse;
    margin-right: 0;
    right: -25vw;
  }
  .Tg-img::before {
    top: 3em;
    left: -6em;
  }
  .T-guide p {
    margin-right: 0;
    padding-right: 1em;
    width: 50%;
    height: auto;
  }
  .Tg-img img {
    width: 90vw;
  }
  .bungaku-B .right-text {
    width: 90vw;
  }
  .T-guide .link-B {
    margin-right: 1em;
  }
  .Tg-img::after {
    left: 10em;
    top: 3em;
  }
  .acc-cont,.acc-sp {
    display: inherit;
  }
  .access .wid-cont {
    width: 100%;
  }
  .access .right-side {
    right: inherit;
    position: inherit;
    margin: 0 auto;
    width: 90vw;
  }
  .acc-map {
    left: inherit;
    position: inherit;
    flex-direction: column-reverse;
  }
  .acc-map img {
    height: 80vh;
    margin: 0 auto;
  }
  .acc-ex {
    padding: 1em 1em 1em 2.5em;
    font-size: small;
  }
  .sinkansen-col {
    margin: 2em auto;
    width: 90vw;
  }
  .acc-sp {
    position: inherit;
    left: inherit;
    padding-left: 0;
    width: 90vw;
    margin: 0 auto;
  }
  .train-col {
    width: auto;
  }
  .car-col {
    margin-left: 0;
  }
  .access iframe {
    position: inherit;
    top: 0;
    margin-bottom: 0;
  }
  footer .container {
    display: inherit;
  }
  footer .container h1 {
    margin-bottom: 1em;
  }
  footer .container ul {
    margin-left: 0;
  }
  /* ガイドページ */

  .index div {
    width: 100%;
    padding: 2em 2em 1em;
  }
  .index li {
    font-size: medium;
  }
  article.attention, article.prepare, article.shops{
    width: 100%;
    margin: 0 auto 5em;
    padding: 1em 2em;
  }
  article.attention h2, article.prepare h2, article.shops h2 {
    font-size: xx-large;
  }
  .G-select .wid-cont::before {
    height: 100%;
  }
  .G-select .wid-cont::after {
    height: 100%;
  }
  .G-select p.explain, .G-select h2 {
    width: 90vw;
    margin-left: 20px;
  }
  .index li {
    width: 90vw;
  }
  .attention .container, .prepare .container {
    display: block;
  }
  .att1 img, .att2 img, .att3 img, .att4 img, .att5 img,
  .parking img, .locker img {
    width: 100%;
    margin: 0 auto 1em;
  }
  .bear-G div:not(.imgs) {
    padding: 1.5em;
  }
  .bear-G img {
    width: 5em;
  }
  .prepare figure {
    width: 90%;
    margin: 0 auto;
    font-size: small;
    margin-top: 1em;
  }
  .prepare .rental-ex {
    padding: 0 1em 1em;
  }
  .prepare .rental-ex dt {
    text-align: center;
    font-size: large;
  }
  .shops .rental-ex {
    padding: 0 1em 1em 2em;
  }
  .rental-ex dt {
    width: auto;
  }
  .rental-ex dl {
    display: block;
  }
  .rental-ex .white-back {
    width: 73vw;
  }
  p.B-mark {
    position: relative;
    top: -2em;
  }
  .how-use img {
    width: 100%;
  }
  .rental-ex dd:not(:last-of-type)::after {
    width: 120%;
    left: 0;
  }
  div.train-box {
    margin-bottom: 2em;
  }
  div.train-box, div.local-bus {
    padding-right: 0;
  }
  div.local-bus, div.high-bus, .shops-about img {
    width: 100%;
  }
  div.high-bus {
    margin-top: 1em;
  }

  img.shopMap {
    width: 30em;
    height: 21em;
    object-fit: cover;
    position: relative;
    left: -5em;
  }
  .shopB .sA {
    top: 7.5em;
    left: 7.5em;
  }
  .shopB .sB {
    top: 1em;
    left: 8.5em;
  }
  .shopB .sC {
    top: 3.5em;
    left: 3.5em;
  }
  .shopB .sD {
    top: 19em;
    left: 6em;
  }
  .container.shops-about {
    display: block;
  }
  .shops-ex {
    padding-left: 1em;
  }
}